body,html {
font-family: 'Fascinate', cursive;
font-family: 'Roboto Slab', serif;
}

navbar{
     background-color: indianred;
}
.parallax {
    /* The image used */
    background-image: url("img/joshua-koblin-eqW1MPinEV4-unsplash.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 480px) {
     body {
       background-color: rgb(136, 16, 32);
     }
     @media only screen and (max-width: 768px) {
          body {
            background-color: rgb(57, 187, 31);
          }
          @media only screen and (max-width: 1024px) {
               body {
                 background-color: rgb(180, 123, 17);
               }
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
} 